body {
    font-family: Helvetica;
}
#cleancommute {
    color:green;
    text-align: center;
}
#credits {
    text-align: center;
}
p {
    border: 2px solid #000; /* Border width and color */
    border-radius: 8px; /* Rounded corner radius */
    padding: 10px; /* Padding around the text */
    max-width: 400px; /* Maximum width for the <p> element */
    margin: 0 auto; /* Center the <p> element horizontally */
}
/* Button Styles */
.btn {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: #007bff;
    color: #ffffff;
    transition: background-color 0.3s ease;
    text-align: center;
}
  
/* Button Hover Effect */
.btn:hover {
    background-color: #0056b3;
}
  
  /* Button Active State */
.btn:active {
    background-color: #003973;
}